#block-number {
    animation: pulse 3s ease-in 0ms infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.3);
    }
}