@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'sf-light';
    src: url("../../public/fonts/SFUIText-Light.otf") format('opentype');
  }

  @font-face {
    font-family: 'sf-medium';
    src: url("../../public/fonts/SFUIText-Medium.otf") format('opentype');
  }

  @font-face {
    font-family: 'sf-bold';
    src: url("../../public/fonts/SFUIText-Bold.otf") format('opentype');
  }
}

.y-active {
  color: #0391FF;
}

#y-chain-dropdown,
#y-connect-wallet-dropdown,
#y-wallet-info-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
}

#y-chain-dropdown[datatype="visible"],
#y-connect-wallet-dropdown[datatype="visible"],
#y-wallet-info-dropdown[datatype="visible"] {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#y-chain-dropdown[datatype="non-visible"],
#y-connect-wallet-dropdown[datatype="non-visible"],
#y-wallet-info-dropdown[datatype="non-visible"] {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
  /* Light gray background */
  border-radius: 10px;
  /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0);
  /* Darker gray color */
  border-radius: 10px;
  /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
  /* Even darker on hover */
}