@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'sf-light';
    src: url("../../public/fonts/SFUIText-Light.otf") format('opentype');
  }

  @font-face {
    font-family: 'sf-medium';
    src: url("../../public/fonts/SFUIText-Medium.otf") format('opentype');
  }

  @font-face {
    font-family: 'sf-bold';
    src: url("../../public/fonts/SFUIText-Bold.otf") format('opentype');
  }
}

.y-active {
  color: #0391FF;
}

#y-chain-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 300ms ease, transform 300ms ease;
}

#y-chain-dropdown[datatype="visible"] {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#y-connect-wallet-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 300ms ease, transform 300ms ease;
}

#y-connect-wallet-dropdown[datatype="visible"] {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}